* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "navbar navbar"
        "sidebar content"
        "foot foot"
    ;
    min-height: 100dvh;
    grid-template-columns: 250px auto;
    grid-template-rows: 6rem 1fr auto;
    background-color: #f0e4cc;
    color: #5C3317;
}

.navbar {
    grid-area: navbar;
    background-color: #FF6F61;
    color: #FAF0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar-name {
    font-weight: 700;
    text-align: left;
    color: #FAF0E0;
}

.navbar-name em {
    color: #FFBF47;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-menu ul {
    display: flex;
    gap: 50px;
}

li {
    list-style: none;
}

.navbar-menu a {
    text-decoration: none;
    color: #FAF0E0;
    list-style: none;
}

.navbar-menu a:hover {
    color: #5C3317;
}

.sidebar {
    grid-area: sidebar;
    background-color: #FAF0E0;
    color: #5C3317;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
}

.products-menu a {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.25rem;
    text-decoration: none;
   color: #5C3317;
}

.products-menu a:hover {
   color: #FF6F61;
}

.boxes {
    grid-area: content;
}

.box-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 20px;
    padding: 20px;
}

.product-box{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    background-color: #FAF0E0;
}


.btn-comprar{
    background-color: #5C3317;
    color: #FAF0E0;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 0.75rem;
    border: 0;
}

.btn-comprar:hover{
    background-color: #FF6F61;
}

.box-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center top;
}

.box-img-2{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center top;
}

.foot {
    grid-area: foot;
    background-color: #5C3317;
    color: #FFBF47;
    text-shadow: 2px 2px 5px #3D2B1F;
}

.footer-top{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 1rem 3rem;
}

.foot-h-line{
  border: none;
  height: 0.5px;
  background-color: #FFBF47;
  margin: auto;
}

.footer-bottom{
text-align: center;
    padding: 1rem 3rem;
    color: #FAF0E0;
    font-size: 1rem;
    font-weight: 100;
}